/* globals.css */

body {
  background: linear-gradient(to bottom, #003366, #006699);
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  margin: 10; 
}

/* Bubbles Animations */
@keyframes bubble-up {
  0% {
    bottom: -50px;
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 100%;
    opacity: 0;
    transform: translateX(100px);
  }
}

/* Floating Bubbles */
.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: bubble-up 10s infinite ease-in;
}

.bubble:nth-child(2) {
  width: 30px;
  height: 30px;
  animation-duration: 12s;
}

.bubble:nth-child(3) {
  width: 15px;
  height: 15px;
  animation-duration: 8s;
  animation-delay: 3s;
}

.bubble:nth-child(4) {
  width: 40px;
  height: 40px;
  animation-duration: 15s;
  animation-delay: 5s;
}

/* Envelopes Animations */
@keyframes envelope-float {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

/* Envelope Styles */
.envelope {
  position: absolute;
  width: 80px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: envelope-float 8s infinite ease-in-out;
  z-index: 10; 
}

.envelope1 {
  background-color: #ffcccb; /* Light pink */
  top: 415%; 
  left: 15%;
  animation-delay: 0s;
}

.envelope2 {
  background-color: #add8e6; /* Light blue */
  top: 415%; 
  left: 46%;
  animation-delay: 2s; 
}

.envelope3 {
  background-color: #ffebcd; /* Light peach */
  top: 415%; 
  left: 75%;
  animation-delay: 4s; 
}

/* Content adjustment */

.main-content {
  padding-top: 150px;
  position: relative;
  z-index: 1; 
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  body {
    background-size: cover;
  }

  .bubble {
    width: 15px;
    height: 15px;
  }

  .envelope {
    width: 60px;
    height: 50px;
  }

  .main-content {
    padding-top: 120px; 
  }
}
